.bgImage
{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
		url("https://assets.nflxext.com/ffe/siteui/vlv3/7cee2527-d2cc-4cc9-99f6-d1375e72d46e/8645352a-866a-43d7-a9d4-97ef671dea6e/EG-en-20230103-popsignuptwoweeks-perspective_alpha_website_small.jpg");
	height: 100vh;

}
.form-body
{
    background-color: rgba(0, 0, 0, 0.6);
}
.showPass
{
	position: absolute;
	right: 1%;
	top: 20%;
	cursor: pointer;
	display: none;
}
