.bgImage
{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
		url("https://assets.nflxext.com/ffe/siteui/vlv3/f272782d-cf96-4988-a675-6db2afd165e0/web/EG-en-20241008-TRIFECTA-perspective_74ad1a18-e013-4546-9a4e-551c6192989e_small.jpg");
	height: 100vh;

}
.form-body
{
    background-color: rgba(0, 0, 0, 0.6);
}
.showPass
{
	position: absolute;
	right: 1%;
	top: 20%;
	cursor: pointer;
	display: none;
}
