.bgImage
{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
		url("https://assets.nflxext.com/ffe/siteui/vlv3/7c9e63f7-5b5d-43a4-a3fb-41917ac25301/web/EG-en-20251013-TRIFECTA-perspective_1cbc1fab-eea4-4e4d-b720-2b7d8246f5ab_medium.jpg");
	height: 100vh;

}
.form-body
{
    background-color: rgba(0, 0, 0, 0.6);
}
.showPass
{
	position: absolute;
	right: 1%;
	top: 20%;
	cursor: pointer;
	display: none;
}
